<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div
            class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
          >
            <p class="h2 fw-bold text-center mb-4 me-3">
              ZapSign Document Uploader
            </p>
          </div>

          <!-- Display success message -->
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>

          <!-- Display error message -->
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label for="form3Example3" class="form-label fw-bold">Email</label>
            <input
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Your email address"
              formControlName="email"
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label for="form3Example4" class="form-label fw-bold"
              >Password</label
            >
            <input
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Your password"
              formControlName="password"
            />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <!-- Use type="submit" to trigger form submission -->
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              [disabled]="!loginForm.valid"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              New to ZapSign Document Uploader?
              <a [routerLink]="'/register'" class="link-danger"
                >Create an account</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
